export DEFAULT_USER=daniel
export EDITOR=vim
export BROWSER=google-chrome-stable
export CLASSPATH="."
export NODE_PATH=`readlink $HOME/.nvm/current`/lib/node_modules
export CHROME_BIN=chromium
export GOPATH="$HOME/Documents/workspaces/go"
export VMAIL_BROWSER="firefox"
export VMAIL_HTML_PART_READER='elinks -dump'
export NVM_DIR="/home/daniel/.nvm"

export PERL_LOCAL_LIB_ROOT="$PERL_LOCAL_LIB_ROOT:$HOME/.perl5";
export PERL_MB_OPT="--install_base $HOME/.perl5";
export PERL_MM_OPT="INSTALL_BASE=$HOME/.perl5";
export PERL5LIB="$HOME/.perl5/lib/perl5:$PERL5LIB";
export RBENV_ROOT="$HOME/.rbenv"

export PUX_API_KEY="14f8a518f764ea76bcc1813dda209b84"

pathdirs=(
  $HOME/.bin
  $HOME/.php53/bin
  $HOME/.cabal/bin
  $HOME/.mipsel/usr/bin
  $HOME/.heroku-client/bin
  $HOME/.perl5/bin
  $HOME/.pyenv/bin
  $HOME/.rbenv/bin
  $GOPATH/bin
  /opt/java/bin
  /usr/share/xsb/xsb-3.4.0/bin
  $PATH
)

for dir in $pathdirs; do
  if [ -d $dir ]; then
    path+=$dir
  fi
done

