[submodule ".config/sublime-text-3"]
	path = .config/sublime-text-3
	url = https://github.com/tuvistavie/st3-config.git
[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/tuvistavie/.emacs.d.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".vim"]
	path = .vim
	url = https://github.com/tuvistavie/vim-config.git
