alias sudo='nocorrect sudo'
alias knife='nocorrect knife'
alias du='\du -sh'
alias dua='\du -h'
alias df='\df -h'
alias bi='bundle install'
alias be='bundle exec'
alias package_sizes='expac "%m\t%n" | sort -h | awk '\''{ printf("%-35s %dM\n", $2, $1 / 1024 / 1024) }'\'
alias ch='google-chrome-stable'
alias sl='ls'
alias v='vim'
alias s='subl'
alias py='python'
alias ki='kitchen'
alias pbcopy='xsel --clipboard --input'
alias pbpaste='xsel --clipboard --output'
