export DEFAULT_USER=daniel
export EDITOR=vim
export BROWSER=firefox-developer-edition
export CHROME_BIN=google-chrome-stable
export VMAIL_BROWSER=firefox-developer-edition
export NODE_REPL_HISTORY_FILE=~/.node_history
export MIX_HOME=$HOME/.mix
export ERL_AFLAGS="-kernel shell_history enabled"
export KEYBASE_SYSTEMD=0
export WATSON_DIR=$HOME/Dropbox/misc/watson
export FLASHCARDS_HOME=$HOME/Dropbox/misc/flashcards

export TEXMFCNF=$HOME/.texlive/texmf-config/web2c:
if [ -z "$JAVA_HOME" ]; then
  export JAVA_HOME=/usr/lib/jvm/java-11-openjdk
fi

export BOOGIE_EXE=$HOME/.dotnet/tools/boogie

export VENVS_ROOT=$HOME/workspace/venvs

export ANDROID_SDK_ROOT=/opt/android-sdk
export ANDROID_HOME=/opt/android-sdk

export PINENTRY_USER_DATA="TTY=1"
export PASSWORD_STORE_DIR="$HOME/Dropbox/passwords"
export ENCFS6_CONFIG=$HOME/.secrets/dropbox-encfs.xml

export GOPATH="$HOME/workspace/go"
export EC2_URL=https://ec2.ap-northeast-1.amazonaws.com
export NLTK_DATA="$HOME/.nltk_data"

unset SSH_ASKPASS

if [ -d $HOME/.homesick/repos/homeshick/completions ]; then
  fpath=($HOME/.homesick/repos/homeshick/completions $fpath)
fi

unset PATH

pathdirs=(
  $HOME/.local/bin
  $HOME/.bin
  $HOME/.cabal/bin
  $HOME/.yarn/bin
  $HOME/.stack/bin
  $HOME/.mix/escripts
  $HOME/.asdf/shims
  $HOME/.config/composer/vendor/bin
  $HOME/.cargo/bin
  $HOME/.dotnet/tools
  $GOPATH/bin
  $HOME/.nix-profile/bin
  /nix/var/nix/profiles/default/bin
  /opt/android-sdk/build-tools/current
  /opt/android-sdk/platform-tools
  /opt/android-sdk/tools
  /nix/var/nix/profiles/per-user/$USER/profile/bin
  /var/lib/snapd/snap/bin
  /usr/local/bin
  /bin
  /usr/bin
)

for dir in $pathdirs; do
  if [ -d $dir ]; then
    path+=$dir
  fi
done

[[ -f ~/.secrets/exports ]] && . ~/.secrets/exports

