export DEFAULT_USER=daniel
export EDITOR=vim
export BROWSER=google-chrome-stable
export CLASSPATH="."
export CHROME_BIN=chromium
export VMAIL_BROWSER=firefox
export NODE_REPL_HISTORY_FILE=~/.node_history
export MIX_HOME=$HOME/.mix
export VAULT_ADDR=https://vault.claudetech.com

export PERL_LOCAL_LIB_ROOT="$PERL_LOCAL_LIB_ROOT:$HOME/.perl5";
export PERL_MB_OPT="--install_base $HOME/.perl5";
export PERL_MM_OPT="INSTALL_BASE=$HOME/.perl5";
export PERL5LIB="$HOME/.perl5/lib/perl5:$PERL5LIB";
export TEXMFCNF=$HOME/.texlive/texmf-config/web2c:
export NODE_REPL_HISTORY_FILE=$HOME/.noderepl.history
export CAML_LD_LIBRARY_PATH=$HOME/.opam/4.02.3/lib/stublibs
export JAVA_HOME=/usr/lib/jvm/java-8-openjdk

export ANDROID_SDK_ROOT=/opt/android-sdk
export ANDROID_HOME=/opt/android-sdk
export PASSWORD_STORE_DIR="$HOME/Dropbox/passwords"

export GOROOT="$HOME/.asdf/installs/golang/1.8/go"
export GOPATH="$HOME/workspaces/go"
export EC2_HOME=/usr/local/ec2/ec2-api-tools-1.6.13.0
export EC2_URL=https://ec2.ap-northeast-1.amazonaws.com
export NLTK_DATA="$HOME/.nltk_data"

unset SSH_ASKPASS

if [ -d $HOME/.homesick/repos/homeshick/completions ]; then
  fpath=($HOME/.homesick/repos/homeshick/completions $fpath)
fi

unset PATH

pathdirs=(
  $HOME/.local/bin
  $HOME/.bin
  $HOME/.php53/bin
  $HOME/.cabal/bin
  $HOME/.mipsel/usr/bin
  $HOME/.heroku-client/bin
  $HOME/.phpbrew/bin
  $HOME/.stack/programs/x86_64-linux/ghc-7.10.3/bin
  $HOME/.opam/4.02.3/bin
  $HOME/.mix/escripts
  $HOME/.asdf/shims
  $HOME/.config/composer/vendor/bin
  $HOME/.cargo/bin
  $GOPATH/bin
  /opt/java/bin
  /usr/local/heroku/bin
  /usr/local/ec2/ec2-api-tools-1.6.13.0/bin
  /opt/android-sdk/platform-tools
  /opt/android-sdk/tools
  /usr/local/bin
  /bin
  /usr/bin
)

for dir in $pathdirs; do
  if [ -d $dir ]; then
    path+=$dir
  fi
done

[[ -f ~/.secret_exports ]] && . ~/.secret_exports

