set_current_env() {
    CURRENT_ENV="laptop"
    if [ -f "$HOME/.current_env" ]; then
        if [ -x "$HOME/.current_env" ]; then
            CURRENT_ENV="$($HOME/.current_env)"
        else
            CURRENT_ENV="$(cat $HOME/.current_env)"
        fi
    fi
    export CURRENT_ENV
}

source_custom_env() {
    [ -f "$HOME/.custom-env/$CURRENT_ENV" ] && . $HOME/.custom-env/$CURRENT_ENV
}

setup_background_image() {
    /usr/bin/feh --bg-scale ~/.background/amami.jpg
}

set_ime_vars() {
    export XIM=ibus
    export GTK_IM_MODULE="ibus"
    export QT_IM_MODULE="ibus"
    export XMODIFIERS="@im=ibus"
}


setup_keyring() {
    dbus-update-activation-environment --systemd DISPLAY
    eval $(/usr/bin/gnome-keyring-daemon --start --components=pkcs11,secrets,ssh)
    export SSH_AUTH_SOCK
}

setup_note_keyboard() {
    # When using note keyboard
    grep -E "(PFU|HHKB)" /proc/bus/input/devices > /dev/null
    if [ $? -eq 1 ]; then
        xmodmap ~/.xmodmaps/remap_capslock_to_ctrl
    fi
}

setup_keyboard() {
    setxkbmap -layout us,fr,es -option grp_led:scroll,terminate:ctrl_alt_bksp
    xmodmap ~/.xmodmaps/swap_colon_semicolon
    xmodmap ~/.xmodmaps/map_alt_to_zenkaku
    setup_note_keyboard
}

setup_mouse() {
    xset -dpms
    xset s off
    xsetroot -cursor_name left_ptr
}

setup_display() {
    if [ -f ~/.xorg/$CURRENT_ENV.sh ]; then
        . ~/.xorg/$CURRENT_ENV.sh
    else
      xrandr --auto
    fi
}

merge_xresources() {
    [[ -f ~/.Xresources ]] && xrdb -merge ~/.Xresources
}

start_applications() {
    nohup light-locker | logger -t light-locker &
    systemctl --user import-environment XDG_SESSION_PATH DBUS_SESSION_BUS_ADDRESS XIM GTK_IM_MODULE QT_IM_MODULE XMODIFIERS
    for env_var in $(env | grep CURRENT_ENV | cut -d= -f1); do
        systemctl --user import-environment $env_var
    done
    systemctl --user start user-applications.target
}

run_local_profile() {
    [[ -x ~/.xprofile.local ]] && ~/.xprofile.local
}

setup_all() {
    set_current_env
    source_custom_env
    set_ime_vars
    setup_keyring
    setup_keyboard
    setup_mouse
    setup_display
    setup_background_image
    merge_xresources
    start_applications
    run_local_profile
}

xmonad() {
    setup_all
}


${1-setup_all}
