[Unit]
Description=Devmon
Wants=default.target
After=default.target

[Service]
ExecStart=/usr/bin/devmon

[Install]
WantedBy=user-applications.target
