[Unit]
Description=Dropbox
Wants=network-online.target
After=network-online.target

[Service]
Type=forking
ExecStart=/usr/bin/dropbox-cli start
ExecStop=/usr/bin/dropbox-cli stop
Restart=on-failure

[Install]
WantedBy=xmobar.target
