[Unit]
Description=Emacs: the extensible, self-documenting text editor

[Service]
ExecStart=/usr/bin/emacs --fg-daemon

[Install]
WantedBy=user-applications.target
