[Unit]
Description=Markdown Server

[Service]
ExecStart=%h/.asdf/shims/markserv -p 8010 --no-browser
WorkingDirectory=%h/Dropbox/notes

[Install]
WantedBy=user-applications.target
