[Unit]
Description=Telegram Desktop

[Service]
Environment=QT_QPA_PLATFORMTHEME=xdgdesktopportal
ExecStart=/usr/bin/Telegram -startintray

[Install]
WantedBy=user-applications.target
