[Unit]
Description=Trayer
Wants=default.target
After=default.target

[Service]
ExecStart=%h/.local/bin/start-trayer

[Install]
WantedBy=user-applications.target
